{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Cord's Campaign</title>
	
	{% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="learning_logs/dark_theme.css" />	
	<style>
 
	</style>
    
    {% bootstrap_javascript %}
	
  </head>
  
  <body>
	
  <!-- Fixed Login Bar with Guest Greeting -->	 
   
  <div class="logbar">
    {% if user.is_authenticated %}
      <div style="float:left;">Hello, {{ user.username }}</div>
      <a href="{% url 'users:logout' %}">log out</a>
    {% else %}
      <div style="float:left;">Hello, guest!</div>
      <a href="{% url 'users:register' %}">register</a> or 
      <a href="{% url 'users:login' %}">log in</a>
    {% endif %}
  </div>
  
	  
  <center>
	
	<!-- Banner -->

    <div class="wrap">
	  <div class="banner">
		<div class="chandelier"></div>
		Curse of Strahd
	  </div>
      
      <!-- Moving Character Cards -->

      <div class="playerwrap">
        <table>
		  <tr>
		    <td class="player">
				
			  <div class="playercard1">
				  <div class="character_about">A vigilant hunter who 
				  will eliminate all who stand in the way of saving his
				   missing sister.</div>
				  <div class="character_name">Alder</div>
              </div>
              
		    </td>
		    <td class="player">
			  	
			  <div class="playercard2">
				  <div class="character_about">The daughter of the 
				  librarians returns home after 9 years distraught 
				  wearing a dirty handmaid's dress and smeared fine makeup. 
</div>
				  <div class="character_name">Lila</div>
              </div>
            
		    </td>
		    <td class="player">
			  	
			  <div class="playercard3">
				  <div class="character_about">A man of faith trying to
				  atone for the sins of his dark past.</div>
				  <div class="character_name">Victor</div>
              </div>
            
		    </td>
		    <td class="player">
			  	
			  <div class="playercard4">
				  <div class="character_about">A ten to fifteen word description 
				    about a character goes in here.</div>
				  <div class="character_name">Zidan</div>
              </div>
            
		    </td>
		    <td class="player">
			  	
			  <div class="playercard5">
				  <div class="character_about">The boy turned man, then 
				  more-than-man, shouldering dreams of a forgotten age. </div>
				  <div class="character_name">Oliver</div>
              </div>
            
		    </td>
		  </tr>
        </table>
      </div>
 
       <!-- Main links -->
       
      <table style="margin-bottom:20px;">
	    <tr>
		  <td>
            <a href="{% url 'learning_logs:index' %}"><div class="mainlink">Campaign About</div></a>
          </td> 
          <td>
            <a href="{% url 'learning_logs:topics' %}"><div class="mainlink">Character Journals</div></a>
          </td>
        </tr>
      </table>

      {% block content %}{% endblock content %}
    </div>
  </center>

  </body>

</html>
